[Event Info]
name = Roman-2030-BLG-0001
# ra  = 17:57:16.63
# dec = -32:39:57.0
### roman field
ra  = 17:53:17.48
dec = -29:13:43.17





# model = close_binary_bc_NNW_Lens
# model = close_binary_ab_NNW_Lens
# model = close_planet_point_NNW_Lens
# model = wide_planet_point_NNW_Lens

# model = close_binary_bc_SSE_Lens
# model = close_binary_ab_SSE_Lens
# model = close_planet_point_SSE_Lens
# model = wide_planet_point_SSE_Lens

model = single_lens
# model = single_lens_turnoff_subgiant



[Running Options]
# number of runs
nstart = 1
# nrun = 96
nrun = 4800
# nrun = 1

# event nubers of each run
# ndot = 50000000
ndot = 1000000

# number of cpu cores used
# n_process = 10
n_process = 96



[Weight Options]
# NOTE. All the weights are using Gaussian DF. If other formats are needed, please modify cal_weights.py > CalculateWeights.
# format:  XXvalue = mean stderr




### mock event information ###
# single lens, M=0.5 solar mass, Ds=9kpc(Roman field mean), Dl=7.5kpc(Roman field mean, see Roman Paper 4)
# [M/H] = 0.2 (from previous papers like Gan et al. 2025), Age = 6 Gyr
# 
# from PARSEC, using actual mass grid = 0.501 solar mass, 
# M_F062 = 9.529 mag, M_F087 = 7.700 mag, M_F213 = 5.845 mag
# 
# mulens = 5 * (np.log10(7.5) + 2) = 14.3753 mag,
# thus F062 = 23.9043 mag, F087 = 22.0753 mag, F213 = 20.2203 mag
# 
# thus pirel = 0.022222 mas, thetaE = 0.3008 mas
# 
### change later
# murel_hel_E = -1.8 0.18, following OB110950, and 10% uncertainty
# murel_hel_N =  3.8 0.38
# 
# t0_for_velocity = 12745.5 (2030.09.01), toward this ra dec, 
# ve=  2.052 AU/yr
# vn= -0.618 AU/yr
#
# thus murel_geo_E = -1.8 -   2.052  * 0.022222 = -1.8456 mas/yr
#      murel_geo_N =  3.8 - (-0.618) * 0.022222 =  3.8137 mas/yr
#      murel_geo = 4.2368 mas/yr
#
# give a 5% uncertainty to tE
# tE = 25.9316 +- 1.2966 day
#
# AV = 4 mag (Roman field average), RV=2.5, 
# resulting Alambda/AV = [0.8082, 0.4676, 0.1084], 
# thus A_F062 = 3.2328 mag, A_F087 = 1.8704 mag, A_F213 = 0.4336 mag
#
# thus reddened F062 = 27.1371 mag, F087 = 23.9457 mag, F213 = 20.6539 mag
# thus (F062-F087) = 3.1914 mag, (F087-F213) = 3.2918 mag
# 
### mock event information end ###





use_tE  = True
tEvalue = 25.9316 1.2966
# tEvalue = 36.674 1.834



### piE_E, piE_N, and their correlation coefficient ( -1 <= rho <= 1 )
use_piE = False

piE_E_value =  0.099 0.073
piE_N_value = -0.429 0.255
piE_rhoEN   =  0.443



### the following is murel_hel from high-resolution imaging 
### in mas/yr
### We directly sample from observed 2D murel_hel, which is equivalent to sample velocity then weight with murel_hel
use_murel_hel = True

### NNW Lens
# murel_hel_E_value = -1.745 0.117
# murel_hel_N_value =  3.821 0.169
# murel_hel_rhoEN = 0

### SSE Lens
# murel_hel_E_value =  1.745 0.117
# murel_hel_N_value = -3.821 0.169
# murel_hel_rhoEN = 0

murel_hel_E_value = -1.8 0.18
murel_hel_N_value =  3.8 0.38
murel_hel_rhoEN = 0



### 1. Weight with one lens apparent magnitude and two colors, which are obtained from high-resolution imaging; 
### 2. the filters used can be changed in cal_weights.py; search for '### change filters here ###'
###    VVV(which Keck is calibrated to), Roman, Euclid, OGLE(which HST is calibrated to), CSST filters are supported;
### 3. but keep in mind to also recalculate Alambda/AV and replace LOOKUP_CCM89_MDWARF_F062_F087_F213 in cal_weights.py when changing filters, 
###    using the code provided alongside in the repo; 
### 4. Three quantities are treated uncorrelated to each other; 
###    finally we need to weight three apparent magnitudes with full covariance matrix
use_Color_F062_F087_lens = True
Color_F062_F087_lens_value = 3.19 0.1
# Color_F062_F087_lens_value = 3.19 0.05
# Color_F062_F087_lens_value = 1.89 0.1

use_Color_F087_F213_lens = True
Color_F087_F213_lens_value = 3.29 0.05
# Color_F087_F213_lens_value = 3.29 0.0025
# Color_F087_F213_lens_value = 2.24 0.05

use_F213_lens = True
F213_lens_value = 20.66 0.05
# F213_lens_value = 17.08 0.05

[Isochrone Uncertainty]
### color uncertainty of PARSEC isochrone at given absolute magnitude
### add quadture, but 
### systematic shift
### can also change to empirical relation, routinely to 0.15 dex
Color_F062_F087_isochrone_uncertainty = 0.05
Color_F087_F213_isochrone_uncertainty = 0.03
# Color_F062_F087_isochrone_uncertainty = 0.001
# Color_F087_F213_isochrone_uncertainty = 0.001


### have changed to parllelized version: function_cpu_parallel.py; 
### use different random seed for each process (no such problem for serial version code)
###
### use it to simulate 5e10 events
###
### RAM is a problem now, using n_process=24 and ndot=5e7 needs 1.5TB RAM, and each round takes 6 min, thus 1000/24*6=250 min in total. 
### peak RAM is way higher than "size of output files × processes."
### one way is not using savetxt!
### second way is using smaller ndot



[Binary Lens]
### 1. if binary_lens == True, simulated lens mass is treated as primary lens mass, 
###    binary total mass = Ml*(1+q_sampled), where q_sampled is sampled from N(q_mean, q_err), 
###    and binary total mass is used to calculate thetaE;
### 2. q must be <= 1;
### 3. if the calculated secondary lens mass exceeds the PARSEC isochrone lower mass limit, 
###    the sum of primary and secondary lens flux is considered; 
### 4. s should be normalized to total mass's thetaE. 
binary_lens = False
q_value = 65.20 0.75
s_value = 65.20 0.75



[Galactic Component]
### source and lens range in Disk and Bulge (kpc)
### source distance (Ds) sampled from informative prior
### lens distance (Dl) sampled from uniform prior
Disk_min = 0.01
Disk_max = 16.6
Bulg_min = 4.6
Bulg_max = 12.

# # mas/yr
# SourceFromPM = False
# musl = -5.81 3.14
# musb = -0.20 2.69
# muscor = 0.0

# [Mass Function]
# main_sequence = True
# white_dwarf = False
# neutron_star= False
# black_hole  = False




[Lens Age Metallicity]
### Uniform age in e.g. [1, 10] Gyr
### Uniform [M/H] in e.g. [-1.0, 0.5]
### lens mass (Ml) sampled from uniform prior, in the mass range allowed by isochrone
Age_lens_min = 1.0 
Age_lens_max = 10.0
MH_lens_min = -1.0
MH_lens_max = 0.5
# ## choose from informative or uniform
# Lens_Age_Metallicity_Prior = informative
# # Lens_Age_Metallicity_Prior = uniform

[Extinction]
# Uniform AV in e.g. [0, 10] mag (mean AV in Roman GBTDS field is around 4 mag)
AV_lens_min = 0.0
AV_lens_max = 10.0

# 1. CCM89 RV from Normal(2.5, 0.2), adopting from Nataf et al. 2013; 
# 2. for CCM89, changing RV only changes the direction of the extinction vector; 
#    while for F99, changing RV only changes the length of the extinction vector, not the direction;
#    thus by using CCM89, we already considered the worse case, as only direction has influence to the metallicity constraint; 
# 3. here use such a large RV range to show the method still works even with very uncertain extinction curve;
#    because RV ~ Normal(2.5, 0.2) is the RV dispersion for the whole OGLE3 bulge field, 
#    thus for a given line-of-sight, the RV can be constrained better
# 4. in future, we must use local(line-of-sight dependent) extinction curve determined from Roman data itself; 
#    no RV parametrization or law form assumption(like CCM89 or F99) needed then, 
#    Alambda/AV will be directly constrained in Roman filters from variable stars for each line-of-sight. 
RV_lens_value = 2.5 0.1

[Frame Transform]
# Only affect the output format
# if they are true, then the generated v_source/v_lens will be reduced by v_solar and v_earth, 
# which tranforming v_source/v_lens FROM w.r.t. galactic centric inertial frame TO geocentric inertial frame 
# SolarMotion = False
# EarthMotion = False

# ################### change here ###################
# # But the Earth and Solar velocity must be given correctly ! km/s
# Earth_Vl =   5.087806324575013
# Earth_Vb = -18.176829156450182
# ################### change here ###################

# Solar_Vl = 232.0
# Solar_Vb = 7.0

# # unit: AU/yr
# v_earth_E =  3.902349031548036
# v_earth_N = -0.7912994381491149

### time used to calculate observatory-relative-to-Sun velocity, 
### which is used to convert between murel_obser and murel_hel; 
### should be in HJD-2450000
t0_for_velocity = 12745.5
# 2030.09.01

# DO NOT CHANGE THE BELOW SECTIONS UNLESS YOU REALLY KNOW WHAT THEY MEAN

[Source Profile]
# an extra term of detectable sources as a function of distance
# this is a power-law index, ns∝Ds^(2-gamma) 
gamma = 2.0

[Disk Model]
# # models: Shu, Gaussian, GaussianM
# VelocityDistribution = Shu

# # circular velocity, km/s
# vc = 220.

# scale length, kpc
Rd = 2.5

# # solar local velocity dispersions
# sigma_Vt = 33.
# sigma_Vz = 18.
# sigma_VR = 38.
